
@model PassionProjectS2024AN01648493.Models.ContentDto
@{
    ViewBag.Title = "Details Content";
}

<h2>Show Contents</h2>
<p><a href="/Content/List">Go back to List</a></p>
<p>Post date: @Model.Post_date</p>
<p>Title: @Model.title</p>
<p>Content: @Model.content</p>
<p>Comment: @Model.comment</p>
<p>Account name: @Model.student_fname @Model.student_lname</p>
<p>Teacher name: @Model.teacher_fname @Model.teacher_lname</p>





